/* Sección de servicios */
.services {
    background: 
        url('../imgs/') no-repeat top left / 20%, /* Primera imagen */
        url('ruta/a/tu/imagen2.jpg') no-repeat bottom right / 40%, /* Segunda imagen */
        url('../imgs/sutil-img2.jpg') no-repeat center / cover; /* Tercera imagen */
    padding: 60px 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    position: relative;
}

/* Estilo del encabezado */
.services h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
    font-size: 36px;
    font-weight: bold;
    color: #004d26;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 2px solid #004d26;
    padding-bottom: 10px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

/* Estilos de cada servicio */
.service {
    flex-basis: calc(25% - 20px);
    padding: 30px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}

/* Imagen del servicio */
.service-image {
    width: 100%;
    height: 150px;
    overflow: hidden;
    border-radius: 12px;
    margin-bottom: 15px;
    position: relative; /* Permitir posicionamiento relativo */
}

/* Imagen dentro del contenedor de la imagen del servicio */
.service-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}

/* Efecto hover en la imagen */
.service-image img:hover {
    transform: scale(1.1);
}

/* Estilo del encabezado dentro de cada servicio */
.service h3 {
    margin: 10px 0;
    font-size: 24px;
    font-weight: bold;
    color: #004d26;
    text-shadow: 0 2px 4px rgba(40, 167, 69, 0.6);
}

/* Estilo del párrafo dentro de cada servicio */
.service p {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
    text-align: justify;
    max-height: 120px;
    overflow-y: auto;
}

/* Estilo al pasar el cursor sobre el servicio */
.service:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.25);
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    .service {
        flex-basis: calc(45% - 20px);
    }
}

@media (max-width: 480px) {
    .service {
        flex-basis: 100%;
    }
}
